/**
 * =================================================================================
 * VARIABLES
 * =================================================================================
 */

:root {
    --bg-color: #191919;
    --blue-rgb-color: rgba(10, 171, 251, 1);
    --blue-rgb-color-hover: rgba(10, 171, 251, .8);
    --red-rgb-color: rgba(235, 40, 45, 1);
    --red-rbg-color-hover: rgba(235, 40, 45, .8);
    --yellow-rgb-color: rgba(255, 186, 5, 1);
    --yellow-rgb-color-hover: rgba(255, 186, 5, .8);
    --black-primary-color: #080808;
    --black-secondary-color: #141415;
    --blue-primary-color: #0aabfb;
    --disabled-color: #38383e;
    --text-default-color: #fff;
    --font-pt-sans-narrow: 'PT Sans Narrow', sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
    --border-default-radius: 6px;
}

/**
 * =================================================================================
 * BASE
 * =================================================================================
 */

*,
*::before,
*::after {
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004) !important;
}

body {
    background: var(--bg-color);
    font-family: var(--font-roboto-condensed);
}

/**
 * =================================================================================
 * MODIFIERS
 * =================================================================================
 */

.bg--red {
    background: var(--red-rgb-color) !important;
}

.bg--red:hover {
    background: var(--red-rbg-color-hover) !important;
}

.bg--yellow {
    background: var(--yellow-rgb-color) !important;
}

.bg--yellow:hover {
    background: var(--yellow-rgb-color-hover) !important;
}

.bg--blue {
    background: var(--blue-rgb-color) !important;
}

.bg--blue:hover {
    background: var(--blue-rgb-color-hover) !important;
}

.w--160 {
    width: 160px !important;
}

.mb--20 {
    margin-bottom: 20px !important;
}

.mb--130 {
    margin-bottom: 130px !important;
}

.mw--100vw-fix {
    max-width: calc(100vw - 24px) !important;
}

/**
 * =================================================================================
 * COMPONENTS
 * =================================================================================
 */

.button-box {
    align-items: center;
    border: 1px solid var(--black-primary-color);
    border-radius: var(--border-default-radius);
    color: var(--black-primary-color);
    display: flex;
    font-size: 22px;
    height: 42px;
    justify-content: center;
    text-decoration: none;
    width: 42px;
}

.select-box {
    appearance: none;
    background: var(--black-secondary-color);
    border: 1px solid var(--black-primary-color);
    border-radius: var(--border-default-radius);
    color: var(--text-default-color);
    font-family: var(--font-roboto-condensed);
    font-size: 15px;
    font-weight: 400;
    height: 42px;
    outline: none;
    padding: 0 18px 0 18px;
    width: 120px;
}

/**
 * =================================================================================
 * CONTAINER
 * =================================================================================
 */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/**
 * =================================================================================
 * HEADER
 * =================================================================================
 */

.header {
    background: var(--black-secondary-color);
    border-bottom: 5px solid var(--blue-primary-color);
    margin: 0 0 40px 0;
}

.header__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 8px 15px 8px;
}

.header__logo-box {
    align-items: center;
    background: var(--black-primary-color);
    border-radius: var(--border-default-radius);
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0 0 13px 0;
    text-indent: -9999px;
    width: 80px;
}

.logo-box__img {
    background: url(../img/logo/logo.png) center no-repeat;
    background-size: cover;
    height: 62px;
    width: 62px;
}

.header__details {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.details__title {
    color: var(--text-default-color);
    font-family: var(--font-pt-sans-narrow);
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 7px 0;
    text-align: center;
    word-break: break-word;
}

.details__breadcrumbs {
    color: var(--disabled-color);
    font-family: var(--font-roboto-condensed);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    word-break: break-word;
}

.breadcrumbs__link {
    color: var(--blue-primary-color);
    text-decoration: none;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__active {
    color: var(--text-default-color);
}

/**
 * =================================================================================
 * MAIN
 * =================================================================================
 */

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/**
 * =================================================================================
 * SECTION NAVIGATION
 * =================================================================================
 */

.section__navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 8px 0 8px;
}

.navigation__chapter,
.navigation__page {
    display: flex;
    gap: 12px;
}

/**
 * =================================================================================
 * SECTION OPEN-PAGE
 * =================================================================================
 */

.section__open-page {
    display: flex;
    justify-content: center;
}

/**
 * =================================================================================
 * MEDIA QUERIES - MOBILE FIRST
 * =================================================================================
 */

@media screen and (min-width: 482px) {
    .header__wrapper {
        flex-direction: row;
        justify-content: start;
        padding: 15px 10px 15px 10px;
    }

    .header__logo-box {
        margin: 0 18px 0 0;
    }

    .header__details {
        align-items: start;
    }

    .details__title {
        text-align: start;
    }

    .details__breadcrumbs {
        text-align: start;
    }
}

@media screen and (min-width: 546px) {
    .section__navigation {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px 0 10px;
    }
}

@media screen and (min-width: 1024px) {
    .header__wrapper {
        padding: 15px 20px 15px 20px;
    }

    .section__navigation {
        padding: 0 20px 0 20px;
    }
}