*, *:before, *:after {
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #0babfc;
}

::-webkit-scrollbar-thumb:hover {
    background: #232323;
}

::-moz-selection {
    color: #131313;
    background: #0babfc;
}

::selection {
    color: #131313;
    background: #0babfc;
}

body {
    background: #343434;
}

a {
    text-decoration: none;
    color: #0babfc;
}

a:hover {
    text-decoration: underline;
}

span {
    color: #555;
}

select {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background: #232323;
    height: 36px;
    border: 1px solid #131313;
    border-radius: 5px;
    padding: 0 0 0 18px;
}

header {
    background: #232323;
    min-width: 100%;
    border-bottom: 3px solid #0babfc;
}

header section {
    background: #232323;
    width: 1244px;
    margin: 0 auto;
    padding: 18px 16px 18px 16px;
    display: flex;
    align-items: center;
}

header section h1 a {
    text-indent: -9999px;
    background: url(../img/logo.png) center no-repeat #131313;
    height: 76px;
    width: 76px;
    border-radius: 7px;
    display: inline-block;
}

header section div.breadcrumbs {
    margin: 0 0 0 19px;
}

header section div.breadcrumbs h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
}

header section div.breadcrumbs p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin: 5px 0 0 0;
}

main {
    min-width: 100%;
}

main section {
    width: 1244px;
    margin: 0 auto;
    padding: 0 16px 0 16px;
}

.navigation {
    margin: 44px auto 0;
    display: flex;
    justify-content: space-between;
}

.open-page {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.open-page img {
    max-width: 100%;
}

.comments {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
    background: #fff;
    max-width: calc(100% - 32px);
    margin: 122px auto 100px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
}

.box {
    text-indent: -9999px;
    background: #0babfc;
    height: 36px;
    width: 36px;
    border: 1px solid #131313;
    border-radius: 5px;
    display: inline-block;
}

.report {
    background: url(../img/icons/report-icon.png) center no-repeat #0babfc;
}

.report:hover {
    background: url(../img/icons/report-icon.png) center no-repeat #0a95db;
}

.expand {
    background: url(../img/icons/expand-icon.png) center no-repeat #0babfc;
    margin: 0 10px 0 0;
}

.expand:hover {
    background: url(../img/icons/expand-icon.png) center no-repeat #0a95db;
}

.previous {
    background: url(../img/icons/previous-icon.png) center no-repeat #0babfc;
    margin: 0 10px 0 0;
}

.previous:hover {
    background: url(../img/icons/previous-icon.png) center no-repeat #0a95db;
}

.next {
    background: url(../img/icons/next-icon.png) center no-repeat #0babfc;
}

.next:hover {
    background: url(../img/icons/next-icon.png) center no-repeat #0a95db;
}

.select-chapters {
    width: 152px;
    margin: 0 10px 0 0;
}

.select-pages {
    width: 106px;
    margin: 0 10px 0 0;
}

@media screen and (max-width: 1244px) {
    header section {
        width: 100%;
    }

    main section {
        width: 100%;
    }
}

@media screen and (max-width: 484px) {
    .navigation {
        align-items: center;
        flex-direction: column;
    }

    .current-chapter {
        margin: 14px 0 0 0;
    }
}

@media screen and (max-width: 280px) {
    header {
        min-width: 262px;
    }

    header section {
        min-width: 262px;
    }

    main section {
        min-width: 262px;
    }

    .navigation {
        align-items: center;
        flex-direction: column;
    }

    .comments {
        min-width: calc(100% - 32px);

    }

    .current-chapter {
        margin: 14px 0 0 0;
    }
}